* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  background-color: #007bff; /* Color de fondo */
  color: white;
  padding: 10px 0; /* Ajuste el padding según necesite */
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centra los hijos horizontalmente */
  align-items: flex-start; /* Alinea los hijos en la parte superior */
  gap: 20px; /* Añade espacio entre los elementos */
}
aside {
  /* Define la proporción de la barra lateral para puntajes */
  flex: 1;
  max-width: 300px; /* Ajusta al ancho deseado para los puntajes */
}

h1 {
  font-size: 3rem; /* Tamaño grande para el título */
  margin: 0;
  padding: 0.5em 0; /* Espaciado vertical */
  font-weight: bold; /* Fuente en negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto para resaltar */
}
main {
  flex: 3;
  margin-right: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 2; /* Permite que el main crezca para ocupar el espacio */
  margin-right: 20px;
}
h2 {
  color: #007bff; /* Color que coincide con el header para la cohesión */
  margin-bottom: 20px; /* Espacio después de los títulos de sección */
}

label {
  display: block; /* Los labels ocupan toda la línea */
  margin: 10px 0 5px; /* Espaciado antes y después de los labels */
}

button {
  background-color: #007bff; /* Un color más vibrante */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px; /* Un tamaño de letra más prominente */
  font-weight: 500; /* Un poco de grosor para la fuente */
}

button:hover {
  background-color: #0056b3;
}
input[type="text"],
select {
  width: 100%; /* Aprovecha todo el ancho disponible */
  padding: 10px; /* Espaciado interno para facilidad de entrada */
  margin-bottom: 20px; /* Espacio después de los campos */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 4px; /* Bordes suavemente redondeados */
}

#formularioInicial {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  header,
  main {
    padding: 10px;
  }
}
#juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px; /* Ajusta al tamaño deseado */
  margin: 20px auto;
}

.carton {
  border: 2px solid #007bff; /* Borde más definido */
  border-radius: 10px; /* Esquinas más redondeadas */
  padding: 20px;
  margin: 20px 0; /* Espacio vertical para evitar que los cartones estén demasiado juntos */
  background-color: #ffffff; /* Fondo blanco para los cartones */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada para dar profundidad */
  transition: transform 0.3s ease; /* Efecto suave al interactuar */
}

.carton:hover {
  transform: translateY(-5px); /* Levanta el cartón al pasar el mouse */
}
.grid-carton {
  display: grid;
  gap: 15px; /* Espacio entre las celdas de la grilla */
}

.carton[data-tamano="3"] .grid-carton {
  grid-template-columns: repeat(3, 60px);
}

.carton[data-tamano="4"] .grid-carton {
  grid-template-columns: repeat(4, 60px);
}

.carton[data-tamano="5"] .grid-carton {
  grid-template-columns: repeat(5, 60px);
}

.celda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Ajuste de tamaño */
  height: 60px; /* Ajuste de tamaño */
  border: 1px solid #ddd; /* Borde sutil */
  background-color: #f9f9f9; /* Fondo ligeramente gris para las celdas */
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  border-radius: 5px; /* Esquinas redondeadas para las celdas */
  transition: background-color 0.2s ease-in-out; /* Transición suave para el color de fondo */
}
/* Tabs */

.tabs {
  padding: 10px 0;
  margin-left: 50px;
}

.tab {
  /* Estilos simplificados para un look más moderno */
  background-color: #e9e9e9;
  color: #007bff;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.tab:hover {
  background-color: #d9d9d9;
  transform: translateY(-2px); /* Efecto sutil al pasar el mouse */
}

.tab.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  transform: none; /* Anula el efecto de hover */
}

/* Estilos para la sección del cartón */
#juego {
  background-color: white; /* Fondo blanco para el contenido */
  padding: 20px; /* Espaciado interno */
  border-radius: 0 0 8px 8px; /* Bordes redondeados en la parte inferior */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
  border-top: none; /* Elimina el borde superior para unirse visualmente con las tabs */
}

.hidden {
  display: none;
}

#numeroActual {
  margin-top: 50px;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 10px;
  position: relative; /* O usa flexbox si es posible */
  top: -50px; /* Ajusta según tu layout */
  z-index: 10; /* Asegura que se muestre por encima del resto */
  background-color: white;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  order: -1;
}

#numeroMostrado {
  background-color: #e9e9e9;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 10px;
  color: #007bff;
  margin-right: 10px;
}

.celda.marcado {
  background-color: #add8e6; /* Color para celdas marcadas */
  color: #333; /* Texto oscuro para mejor contraste */
  font-weight: bold; /* Fuente en negrita para las celdas marcadas */
}
#puntajes {
  width: 100%; /* Usa todo el espacio horizontal disponible */
  max-width: 400px; /* Ajusta al tamaño deseado */
  padding: 20px;
  font-size: 22px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px; /* Espacio a la izquierda */
}
#puntajes h2 {
  margin-bottom: 10px;
  color: #007bff;
}
#puntajes p {
  color: #333;
  padding: 5px 0; /* Más espaciado entre los puntajes */
}
aside#puntajes {
  flex-grow: 1; /* Permite que el aside crezca para ocupar el espacio */
  width: 30%; /* Ancho del aside */
  margin-left: 20px; /* Espacio a la izquierda del aside */
  margin-left: 38px;
  margin-top: 64px;
}
#sacarNumero {
  font-size: 1rem; /* Ajuste el tamaño de la fuente a un tamaño más adecuado */
  padding: 10px 20px; /* Reducción del padding para hacer el botón más pequeño */
  margin-top: 0; /* Ajusta el margen superior si es necesario */
}

.grid-carton {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(60px, 1fr)
  ); /* Adaptabilidad del grid */
  gap: 15px; /* Espacio entre celdas */
  justify-items: center; /* Centrar celdas horizontalmente */
}
.modal {
  display: none;
  position: fixed;
  z-index: 2; /* Asegúrate de que el z-index sea suficientemente alto */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Fondo negro */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: fixed; /* Fixed position */
  top: 50%; /* Position the top edge of the element in the middle of the screen */
  left: 50%; /* Position the left edge of the element in the middle of the screen */
  transform: translate(
    -50%,
    -50%
  ); /* Move the element back by half its own width and height to center it */

  padding: 20px;
  border-radius: 10px;

  width: auto; /* Width can be auto, or any fixed size */
  max-width: 600px; /* Maximum width to make sure it does not get too big */
  text-align: center; /* Center text */
  z-index: 1000; /* High z-index to make sure it is on top of other elements */
}

.modal-text {
  color: #fff; /* White text */
  font-size: 2em; /* Big font size */
}

.modal-button {
  background-color: #007bff; /* Blue */
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  font-size: 1em;
  display: inline-block; /* For inline positioning */
  border-radius: 5px; /* Rounded corners */
}
.modal-image {
  max-width: 100%; /* This will make sure the image is responsive and does not overflow from its container */
  max-height: 30vh; /* You can adjust this value to suit your needs */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Display block to make it responsive */
  margin: 0 auto 20px; /* Center the image and add some margin below */
}
#sonidoContenedor {
  position: fixed;
  left: 0;
  top: 0;
}
