body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formularioInicial {
  margin-bottom: 20px;
}

#juego {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carton {
  margin: 10px;
  border: 1px solid #ddd;
}

.grid-carton {
  display: grid;
  gap: 5px; /* Ajusta el espacio entre las celdas de la grilla */
}

.carton[data-tamano="3"] .grid-carton {
  grid-template-columns: repeat(3, 60px);
}

.carton[data-tamano="4"] .grid-carton {
  grid-template-columns: repeat(4, 60px);
}

.carton[data-tamano="5"] .grid-carton {
  grid-template-columns: repeat(5, 60px);
}

.celda {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

/* Tabs */

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f9f9f9;
  cursor: pointer;
}

.tab:hover {
  background-color: #e9e9e9;
}

.tab.active {
  background-color: white;
  border-color: blue;
  border-bottom: 2px solid blue;
  font-weight: bold;
}

/* Estilos para la sección del cartón */
#juego {
  border: 1px solid #ccc;
}

.hidden {
  display: none;
}

#numeroActual {
  text-align: center;
  margin-top: 20px;
}

#numeroMostrado {
  font-size: 2em;
  margin: 10px 0;
}

.celda.marcado {
  background-color: #ff0;
}
#puntajes {
  margin-top: 20px;
  text-align: center;
}
